.head {
  color: rgb(255, 183, 88);
  display: block;
}

.headTwo {
  display: block;
}
.heading {
  @apply text-3xl md:font-semibold;

  position: relative;
  top: 25%;
  left: 50%;

  transform: translate(-50%, -50%);
  border-right: 4px solid rgb(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  animation:
    typewriter 4s steps(15) 1s 1 both,
    blinkCursor 100ms steps(20) 1;
  line-height: 1.8em; /* or higher */

  margin-bottom: 3.5rem;
}
.headingTwo {
  @apply text-xl;
  position: relative;
  top: 60%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.8em;

  animation:
    typewriter 4s steps(15) 5s 1 both,
    blinkCursor 500ms steps(29) 4s;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 75vw;
  }
}

@keyframes blinkCursor {
  from {
    border-right: 4px solid rgb(7, 7, 7);
  }
  to {
    border-right: 4px solid rgb(199, 71, 71);
  }
}

@media screen and (min-width: 1020px) {
  .headTwo {
    display: inline;
    /* color: black; */
  }
  .head {
    display: inline;
  }
}
