.btnOne {
  @apply text-2xl  font-medium uppercase my-2 py-[0.4rem] px-[2.4rem] rounded-[3.4rem] w-[20rem] h-16   hover:bg-[#000533] hover:text-[white]  transition-all duration-300;
  color: #000533;
  border: solid 0.5px #000533;
}
.container{
  background-color: #000533;
  height:50vh;


}
.iconsContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height:80%;
  width: 30vw;

  color: white;
}
.icon{
padding-left: 2rem;
}
.headingTwo {
  @apply text-2xl text-center ;
color: white;
border-top:solid 1px white;
padding-top: 3rem;

}
.footerContainer {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}
